<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Är inloggad: <%= logged_in? %>
<% if logged_in? %>
	<%= link_to "Logga ut", logout_path, method: "delete" %>
<% else %>
	<%= link_to "Logga in", login_path %>
<% end %>

<% flash.each do |message_type, message| %>
	<%= message %>
<% end %>





<%= yield %>

</body>
</html>
